<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Banking App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/accounts" routerLinkActive="active">View Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-account" routerLinkActive="active">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/deposit" routerLinkActive="active">Deposit Amount</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/withdraw" routerLinkActive="active">Withdraw Amount</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delete" routerLinkActive="active">Delete Account</a> <!-- Added Delete Link -->
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>